<script type="text/javascript">
    var nuveiPluginCode = '{{ NUVEI_PLUGIN_CODE }}';
    
    function showNuveiCheckout() {
        console.log('showNuveiCheckout()');

        $('#nuvei_checkout').show();
        
        nuveiCheckoutSdkParams              = {{ nuvei_sdk_params|json_encode() }};
        nuveiCheckoutSdkParams.prePayment   = nuveiPrePayment;
        nuveiCheckoutSdkParams.onResult     = nuveiAfterSdkResponse;

        console.log(nuveiCheckoutSdkParams);

        // in case the checkout is not loaded, try to load it here since OC 4.0.2.1
        {#if (typeof checkout != 'function') {
            console.log('CheckoutSDK was not loaded.');
            
            var script      = document.createElement("script");
            script.type     = "text/javascript";
            script.src      = '{{ sdkUrl }}';
            script.onload   = function() {
                console.log('CheckoutSDK loaded!');
                checkout(nuveiCheckoutSdkParams);
            };
            
            document.getElementsByTagName("head")[0].appendChild(script);
        }
        else {#}
            checkout(nuveiCheckoutSdkParams);
{#        }#}
    }

    function nuveiPrePayment(paymentDetails) {
        console.log('nuveiPrePayment');

        return new Promise((resolve, reject) => {
            $.ajax({
                url: 'index.php?route={{ NUVEI_CONTROLLER_PATH }}|open_order',
                type: 'post',
                dataType: 'json'
            })
            .fail(function(){
                scFormFalse("{{ nuvei_order_error }}");
                reject();
            })
            .done(function(resp) {
                if(resp.hasOwnProperty('sessionToken') && '' != resp.sessionToken) {
                    if(resp.sessionToken == nuveiCheckoutSdkParams.sessionToken) {
                        resolve();
                        return;
                    }

                    console.log(resp);

                    // reload the Checkout
                    nuveiCheckoutSdkParams.sessionToken = resp.sessionToken;
                    nuveiCheckoutSdkParams.amount       = resp.amount;

                    showNuveiCheckout();
                    return;
                }
                
                if (resp.hasOwnProperty('msg') && '' != resp.msg) {
                    scFormFalse(resp.msg);
                    reject();
                    return;
                }

                scFormFalse("{{ nuvei_order_error }}");
                reject();
            });

        });
    }

    function nuveiAfterSdkResponse(resp) {
        console.log('nuveiAfterSdkResponse', resp);
        console.log('nuveiAfterSdkResponse', resp.transactionId);

        if(resp.hasOwnProperty('result')) {
            if(resp.result == 'APPROVED' && resp.hasOwnProperty('transactionId')) {
                $.ajax({
                    url: 'index.php?route={{ NUVEI_CONTROLLER_PATH }}|confirm&language={{ language }}',
                    data: { nuvei_tr_id: resp.transactionId },
                    type: 'post',
                    dataType: 'json',

                    beforeSend: function () {
                        $('#nuvei_blocker').removeClass('d-none');
                        $('#nuvei_error').addClass('d-none');
                    },

                    complete: function (json) {
                        console.log(json)
                    },

                    success: function (json) {
                        console.log(json)
                        
                        if (json['error']) {
                            checkout.destroy();
                            $('#nuvei_blocker').hide();
                            alert('{{ error_paid_order }}' . resp.transactionId);
                        }

                        if (json['redirect']) {
                            location = json['redirect'];
                        }
                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        
                        checkout.destroy();
                        $('#nuvei_blocker').hide();
                        alert(xhr.responseText);
                    }
                });

                return;
            }

            if(resp.result == 'DECLINED') {
                if (resp.hasOwnProperty('errorDescription')
                    && 'insufficient funds' == resp.errorDescription.toLowerCase()
                ) {
                    scFormFalse("{{ error_insuff_funds }}");
                    return;
                }

                scFormFalse("{{ nuvei_order_declined }}");
                return;
            }
        }

        console.error('Error with SDK response: ' + resp);

        scFormFalse("{{ nuvei_order_error }}");
    }

    function scFormFalse(_errorMsg) {
        console.log('Nuvei error', _errorMsg);
        
        $('#nuvei_error').find('div').html(_errorMsg);
        $('#nuvei_error').removeClass('d-none');

        // scroll to element
        var element = document.getElementById('nuvei_error');
        var headerOffset = 45;
        var elementPosition = element.getBoundingClientRect().top;
        var offsetPosition = elementPosition + window.pageYOffset - headerOffset;

        window.scrollTo({
            top: offsetPosition,
            behavior: "smooth"
        });
    }

    $(function() {
        console.log('document loaded');
        
        $('#input-payment-method').on('change', function() {
            console.log($(this).val());
        }); 
        
        {% if ocVersionInt >= 4020 %}
            // for version 4.0.2.1
            console.log($('#input-payment-code').val());
            
            $('#input-payment-code').on('change', function() {
              let _self = $(this);

              if (_self.val() != '{{ NUVEI_PLUGIN_CODE }}.{{ NUVEI_PLUGIN_CODE }}') {
                  $('#nuvei_checkout').hide();
              }
            });
            
            if ($('#input-payment-code').val() != '{{ NUVEI_PLUGIN_CODE }}.{{ NUVEI_PLUGIN_CODE }}') {
                $('#nuvei_checkout').hide();
            }
        {% else %}
            // for version 4.0.1.1
            $('#input-payment-method').on('change', function() {
                let _self = $(this);

                if (_self.val() != '{{ NUVEI_PLUGIN_CODE }}') {
                    $('#nuvei_checkout').hide();
                }
            });
        {% endif %}
        
        // just load few containers
        if ($('#nuvei_blocker').length == 0) {
            $('main').append('<div id="nuvei_blocker" class="d-none" style="position: fixed; z-index: 999; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(255,255,255,0.6);"><div class="fa-3x text-center" style="margin-top: 50vh;"><i class="fas fa-circle-notch fa-spin"></i></div></div>');
        }
        
        if ($('#nuvei_error').length == 0) {
            $('div#content').append('<div class="alert alert-danger alert-dismissible fade show d-none" id="nuvei_error"><div></div></div>');
        }
        // /just load few containers

        {% if nuvei_error is empty %}
            // load the Checkout
            if ($('#nuvei_checkout').length == 0) {
                $('div#content').append('<div id="nuvei_checkout"><div class="fa-3x"><i class="fas fa-circle-notch fa-spin"></i></div></div>');
            }
            
            showNuveiCheckout();
        {% else %}
            // show error
            var errorCont = $('div#content').find('#nuvei_error');
            errorCont.find('div').text("{{ nuvei_error }}");
            errorCont.removeClass('d-none');
        {% endif %}
    });
</script>
